/*====== Importar Font de google fonts ======*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo-font {
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.purple {
    background-color: #7d3cff;
}
.purple-color {
    color: #7d3cff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

/*====== Footer ======*/

.p-70 {
    padding: 70px;
}

.py-6 {
    padding-top: 6rem;
}

.bg-gray {
    background-color: #e9ecef;
}

.text-heading {
    color: #343a40;
}

.text-para {
    color: #6c757d;
}

.list-unstyled {
    list-style-type: none;
    padding-left: 0;
}
.list-unstyled li a {
    text-decoration: none;
}
.list-unstyled li a:hover {
    text-decoration: underline;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

.border-dark {
    border-color: #343a40 !important;
}

.border-end-0 {
    border-right: 0;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bg-dark-gray {
    background-color: #343a40;
}

.text-gray-300 {
    color: #dee2e6;
}

/* PAGINA: SOBRE NOSOTROS */

.nosotros-main {
    background-color: #f1f1f1;
    min-height: 700px;
}

.container-nosotros {
    position: relative;
    top: 170px;
}

.container-nosotros h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #343a40;
    text-align: center;
    position: relative;
    bottom: 50px;
}

.container-nosotros p {
    font-size: 1.1rem;
    color: #6c757d;
    text-align: center;
}

/* PAGINA TERMINOS Y CONDICIONES */
.container-terminos-nosotros {
    position: relative;
    top: 140px;
    min-height: 1650px;
}

.container-terminos-nosotros h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #343a40;
    text-align: center;
    position: relative;
    bottom: 50px;
}

.container-terminos-nosotros p {
    font-size: 1.1rem;
    color: #6c757d;
    text-align: center;
}

/* PAGINA: VINOS */
.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url('../images/FotoProducto/1\ -\ Viñatero.png') no-repeat
        center;
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url('../images/FotoProducto/2-\ Viñas\ Argentinas.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url('../images/FotoProducto/3-\ Cinco\ Sentidos\ Special\ Blend\ \(Sauvignon\ Blanc_Chardonnay\).png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url('../images/FotoProducto/4-\ Cinco\ Sentidos\ Special\ Blend\ \(Malbec-Ancellota\).png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-5 .part-1::before {
    background: url('../images/FotoProducto/5-\ Cinco\ Sentidos\ Gran\ Reserva.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-6 .part-1::before {
    background: url('../images/FotoProducto/6-\ Pala\ Corazón\ Malbec\ Gualtallary.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-7 .part-1::before {
    background: url('../images/FotoProducto/7-\ Marchiori\ _\ Barraud.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-8 .part-1::before {
    background: url('../images/FotoProducto/8-\ Punto\ Final\ Malbec\ -\ Bodega\ Renacer.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-9 .part-1::before {
    background: url('../images/FotoProducto/9-\ Colonia\ Las\ Liebres\ -\ Bonarda.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-10 .part-1::before {
    background: url('../images/FotoProducto/10-\ Mariflor\ Malbec\ -\ Michel\ Rolland.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-11 .part-1::before {
    background: url('../images/FotoProducto/11-\ Crios\ Malbec\ -\ Susana\ Balbo.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-12 .part-1::before {
    background: url('../images/FotoProducto/12-\ Cinco\ Sentidos\ Reserva\ Malbec.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-13 .part-1::before {
    background: url('../images/FotoProducto/13-\ Finca\ las\ Nubes\ -\ Salta.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-14 .part-1::before {
    background: url('../images/FotoProducto/14-\ Felino\ Malbec\ -\ Viña\ COBOS.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-15 .part-1::before {
    background: url('../images/FotoProducto/15-\ Herencia\ Trabajo\ Malbec\ -\ bodega\ Polo.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-16 .part-1::before {
    background: url('../images/FotoProducto/16-\ Cinco\ Sentidos\ espumate\ Rosé.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-17 .part-1::before {
    background: url('../images/FotoProducto/17-\ Mastroeni\ -\ Dulce\ natural.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-18 .part-1::before {
    background: url('../images/FotoProducto/18-\ Rebelado\ Wines\ malbec.png')
        no-repeat center;
    background-size: cover;
}

.section-products #product-19 .part-1::before {
    background: url('../images/FotoProducto/19-\ Aquí\ estamos\ todos\ locos\ Tempranillo_Ancellota\ .png')
        no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

/* PAGINA: CONTACTO */
.container-contacto {
    min-height: 600px;
    position: relative;
    top: 100px;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    cursor: pointer;
}

.whatsapp-icon {
    margin-top: 13px;
}

color-fondo {
    background-color: #f3f3f3;
}

.button-40 {
    background-color: #7d3cff;
    border: 1px solid transparent;
    border-radius: 0.75rem;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system, system-ui,
        'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: 0.75rem 1.2rem;
    text-align: center;
    text-decoration: none #6b7280 solid;
    text-decoration-thickness: auto;
    transition-duration: 0.2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-40:hover {
    background-color: #374151;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

@media (min-width: 768px) {
    .button-40 {
        padding: 0.75rem 1.5rem;
    }
}
