/*====== Importar Font de google fonts ======*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*====== Footer ======*/

footer {
    margin-top: 517px;
}

.p-70 {
    padding: 70px;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;

} 

.bg-gray {
    background-color: #e9ecef;
}

.text-heading {
    color: #343a40;
}

.text-para {
    color: #6c757d;
}

.list-unstyled {
    list-style-type: none;
    padding-left: 0;
}
.list-unstyled li a{
    text-decoration: none;
}
.list-unstyled li a:hover {
    text-decoration: underline;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

.border-dark {
    border-color: #343a40 !important;
}

.border-end-0 {
    border-right: 0;
}

.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.bg-dark-gray {
    background-color: #343a40;
}

.text-gray-300 {
    color: #dee2e6;
}

/*
footer {
    width: 100%;
    margin-top: 600px;
    padding: 100px;
    color: #efefef;
    background-color: #333;
    display: flex;
}
footer div {
    text-align: center;
}
.col-2 {
    flex-grow: 2;
}

footer div h3 {
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}

form input {
    height: 45px;
    width: 400px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button {
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.social-icons i {
    font-size: 27px;
    margin: 10px;
    cursor: pointer;
}

*/